.first--child--mainteinance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.search--mainteinance {
    display: flex;
    align-items: center;
}